@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/aspect-ratio';
@plugin '@tailwindcss/typography';

@theme {
  --animate-appear-then-fade-out: appear-then-fade-out 3s both;

  @keyframes appear-then-fade-out {
    0%, 100% {
      opacity: 0;
    }
    10%, 80% {
      opacity: 1;
    }
  }
}

